*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Open Sans";
    scrollbar-color: var(--bg-color4) var(--bg-color-3);
    
}

:root{
    --bg-color1: #fffffe;
    --bg-color2: #d1d1e9;
    --bg-color-3: #CBDCEB;
    --bg-color4: #6D94C5;

    --highlight-1: #6246ea;
    --highlight-2: #e45858;
    --highlight-3: #eebbc3;

    --text-color1: #2b2c34;

    --selection-bg-color: #cbeef3;
    --selection-text-color: #f49cbb;

    --balao-caim-color: #f3cbd8;

    
}

@font-face {
  font-family: "win";
  src: url("/assets/fonts/win.ttf");
}

@font-face {
  font-family: "Quika";
  src: url("/assets/fonts/Quika.otf") format('opentype');
  
}

::selection{ /*cores de seleção*/
    background-color: var(--selection-bg-color);
    color: var(--selection-text-color);
}
/*------------------------*/

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-20px); } 
  100% { transform: translateY(0px); }  
}

.header1{
    display: flex;
    align-items: last baseline;
    justify-content: end;
    height: 100px;
    padding: 0;
}

.header1 img{
    width: 100px;
}
body{
    background-image: url(/assets/img/gridpattern_bg.jpeg);
    overflow-x: hidden;
}

.container{
    max-width: 1020px;
}

/*Nav-----*/
nav{
    height: 90px;
    background-color: var(--bg-color2);
    color: var(--text-color1) !important;
}

.navbar-brand{
    font-family: "Quika", sans-serif;
    font-size: 30px;
    color: var(--highlight-1);
    text-transform: capitalize;
    transition: ease-in-out all 350ms;
    transform: scale(1);
}

.navbar-brand:hover{
    color: var(--highlight-1);
    transition: ease-in-out all 350ms;
    transform: scale(0.9);
}

.active{
    color: var(--highlight-1) !important;
}

.nav-link{
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.nav-link:hover{
    color: var(--highlight-2);
}

/*Main-----*/

.main1{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.descricao{
    background-color: var(--bg-color1);
    padding: 5px;
}

.main1 h1{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 50px;
    color: var(--highlight-1);
    font-family: "Grandstander", cursive;
}

.main1 p{
    font-size: 18px;
    text-align: left;
    color: var(--text-color1);
}


.main1 h2{
    font-weight: 650;
    color: var(--text-color1);
    font-family: "Grandstander", cursive;
}

.main1 .section1{
    margin-top: 30px;
}

main a{
    color: var(--highlight-2);
    font-weight: 650;
    transition: 350ms ease-in-out all;
}

main a:hover{
    color: var(--highlight-1);
    font-weight: 650;
    transition: 350ms ease-in-out all;
}

.aside1{
    align-self: center;
}

.aside1 img{
    border-radius: 30px;
    margin-left: 20px;
}

.main1 article{
    margin-top: 10px;
    margin-bottom: 20px;
}

.main1 svg:hover{
    fill: var(--highlight-1);
    transition: 350ms ease-in-out all;
    transform: scale(1.1);
}

.main1 svg{
    transition: 350ms ease-in-out all;
}

/*--------main2*/

/*-----------*/

.aside2{
    background-color: var(--bg-color1);
    border-right: 2px dashed var(--bg-color4);
    border-left: 2px dashed var(--bg-color4);
    padding: 10px;
}

.aside2 header{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: var(--bg-color1);
    border-bottom: 2px dashed var(--bg-color4);
}

.aside2 header h3{
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Grandstander", cursive;
}

.aside2 p{
    font-size: 15px;
    text-align: center;
    font-weight: 400;
    text-transform: capitalize;
}

.aside2 article{
    border: 1px var(--text-color1) solid;
    background-color: var(--bg-color-3);
}

.aside2 section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.aside2 .scroll_aside_1{
    overflow: auto;
    overflow: scroll;
    overflow-x: auto;
    min-height: 200px;
    max-height: 300px;
}

.adesivos img{
    filter: drop-shadow(5px 4px 0px rgba(0, 0, 0, 0.47));
}

.aside2 .scroll_badges{
    overflow: auto;
    overflow: scroll;
    overflow-x: auto;
    min-height: 200px;
    max-height: 294px;
    width: 150px;
}

.scroll_badges img{
    margin-bottom: 10px;
}


.aside2 p{
    text-align: start;
    font-family: "Roboto Mono", monospace;
}

.aside2 p::before{
    content: url(assets/img/svg/star-fill.svg);
}

.aside2 a{
    text-decoration: none;
}

.aside2 .header_scroll{
    border-bottom: 1px solid var(--text-color1);
    border-top: none;
    font-family: "Roboto Mono", monospace;
    background-color: var(--bg-color4);
    color: var(--bg-color1);
}

.aside2 li{
    font-family: "Roboto Mono", monospace;
    
}

/*main2----*/
.main2{
    background-color: var(--bg-color1);
    border-top: var(--text-color1) dashed;
}

.main2 h1{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 36px;
    color: var(--highlight-1);
    text-align: center;
    font-family: "Grandstander", cursive;
}

.main2 h2{
    font-size: 19px;
    font-weight: 600;
    font-family: "Grandstander", cursive;
}

.main2 p{
    font-size: 18px;
    text-align: left;
    color: var(--text-color1);
}

.main2 article{
    height: 90px;
}

/*---------footer*/
.footer{
    background-color: var(--bg-color4);
    text-align: center;
    font-size: 18px;
    color: var(--bg-color1);
    padding: 5px;
    font-weight: 500;
}

.footer p{
    margin-top: 20px;
}
/*--------------*/

/*modal-contato*/
#email{
    color: var(--highlight-1);
    font-weight: 600;
    cursor: pointer;
    text-decoration: underline;
}

.modal-contato{
    align-self: center;
}


.modal-contato h1{
    text-transform: lowercase;
    text-align: center;
    color: var(--bg-color1);
    font-family: sans-serif;
    font-weight: 300;
}

.modal-contato p{
    text-align: center;
    font-weight: 200;
    font-family: "win";
}

.modal-contato img{
    border-radius: 30px;
    width: 200px;
    align-self: center;
    animation: float 5s alternate infinite;
}

 .modal-contato .modal-header{
    background: linear-gradient(to right, navy, lightblue);
    border-radius: 0px;
    border-right: solid 3px black;
    border-top: solid 3px #efefef;
    border-left: solid 3px #efefef;
}

.modal-contato .modal-body{
    background-color: #c6c6c6;
    border-right: solid 3px black;
    border-bottom: solid 3px black;
    border-left: solid 3px #efefef;
    padding: 10px;
}

.modal_ext{
    padding: 10px;
}

.modal-contato button{
    font-family: "win";
    background-color: #c6c6c6;
    border-right: solid 3px black;
    border-bottom: solid 3px black;
    border-left: solid 3px #efefef;
    border-radius: 0px;
    color: black;
}

.modal b{
    font-family: "win" !important;
}

/*----------------*/

@keyframes balancando {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(3deg);
  }
  75% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}


.img-balancando{
    animation: balancando 10s ease-in-out infinite;
    pointer-events: none;
    filter: drop-shadow(5px 5px 0px rgba(0, 0, 0, 0.5));
}

@keyframes respirando {
  0%, 100% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(1.05); /* Expansão de 5% apenas na vertical */
  }
}

.img-respirando{
    animation: respirando 5s ease-in-out infinite;
}

/*--------*/
.balao{
   clip-path: polygon(
    0% 0%,      /* Canto superior esquerdo */
    100% 0%,    /* Canto superior direito */
    100% 75%,   /* Canto inferior direito */
    50% 75%,    /* Início da cauda (agora vindo da direita para esquerda) */
    25% 100%,   /* O bico da cauda (posicionado na esquerda) */
    25% 75%,    /* Fim da cauda */
    0% 75%      /* Canto inferior esquerdo */
  );
  
  height: 250px;

  background-color: var(--selection-bg-color);
  padding: 20px;
}

.balao p{
    text-align: left; font-size: 16px;
}

body li::marker{
    content: url(assets/img/svg/star-fill.svg);
}

/*---------OS*/

.os{
    height: 80vh;
    background-color: #54a194;
    border-right: solid 3px black;
    border-left: solid 3px #efefef;
    border-top: solid 3px #efefef ;
}

.os .apps{
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.os p{
    font-family: "win";
    color: white;
}

.os .app{
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.os .app:hover{
    background-color: rgba(0, 0, 0, 0.501);
}

.footer_os{
    background-color: #c6c6c6;
    border-top: 3px #efefef solid;
    display: flex;
    border-bottom: solid 3px black;
     border-right: solid 3px black;
    border-left: solid 3px #efefef;
    border-top: solid 3px #efefef ;
    padding: 3px;
}

.footer_os button{
    font-family: sans-serif;
    font-weight: 700;
    padding-top: 1px;
    padding-left: 3px;
    padding-right: 3px;
    border-bottom: solid 3px black;
    border-right: solid 3px black;
    border-left: solid 3px #efefef;
    border-top: solid 3px #efefef ;
}

.windows{
    top: 10%;
    left: 15%;
    z-index: 100;
    display: none;
}

/*-------Notepad*/

.notepad_container{
    border-bottom: solid 3px black;
    border-right: solid 3px black;
    border-left: solid 3px #efefef;
    border-top: solid 3px #efefef ;
    width: fit-content;
}

.notepad header{
    background: linear-gradient(to right, navy, lightblue);
    display: flex;
    align-items: center;
    padding: 5px;
}

.notepad p{
    margin: 0;
    margin-left: 3px;
}

.notepad{
    background-color: #c6c6c6;
    width: 400px;
    padding: 5px;
}

.notepad button{
    width: 30px;
    height: 30px;
    font-family: sans-serif;
}

.notepad li{
    font-family: "win";
}

.notepad .txt{
    background-color: white;
    padding: 2px;
}

.notepad textarea{
    width: 100%;
    height: 200px;
    font-size: 15px;
     font-family: monospace;
     border: none;
     outline: none;

}

.win-button:hover{
    color: white;
    background-color: var(--highlight-1);
    transition: 350ms all ease-in-out;
}

.win-button{
    color: var(--text-color1);
    background-color: var(--bg-color2);
    transition: 350ms all ease-in-out;
}